<div class="admin-content">
	<aside class="admin-panel">
		<h2 class="admin-panel__title">Admin panel</h2>
		<h2 class="admin-panel__title_small">All registered user:</h2>
		<ul class="admin-panel__users-list"></ul>
		<div class="admin-panel__menu">
			<form class="admin-panel__form" action="#">
				<fieldset class="admin-panel__form-border">
					<legend class="admin-panel__form-title">Add new user</legend>
					<div class="admin-panel__row">
						<input class="admin-panel__input admin-panel__input_login" type="text"
							placeholder="Введите логин">
						<input class="admin-panel__input admin-panel__input_password" type="password"
							placeholder="Введите пароль">
					</div>
					<button class="admin-panel__btn admin-panel__btn_confirm">Confirm</button>
				</fieldset>
			</form>
			<button class="admin-panel__btn admin-panel__btn_add show">Add new user</button>
		</div>
	</aside>
</div>