<div class="menu">
	<div class="menu__about-user">
		<div class="menu__user-avatar">
			<img src="../images/avatar.png" alt="avatar">
		</div>
		<p class="menu__user-info">Hello, <span class="current-user-name"></span></p>
		<div class="menu__icon">
			<img src="../images/arrow.png" alt="arrow">
		</div>
	</div>
	<nav class="menu__navigation">
		<ul class="menu__list">
			<li class="menu__list-item menu__user-info">Profile: <span class="current-user-name"></span></li>
			<li class="menu__list-item menu__user-info">ID: <span class="current-user-id"></span></li>
			<li class="menu__list-item">
				<a class="menu__logout" href="#">Log Out</a>
			</li>
		</ul>
	</nav>
</div>