<div class="tasks-container">
	<section class="tasks tasks_backlog">
		<h2 class="tasks__title">Backlog</h2>
		<ul class="tasks__list" id="backLogList"></ul>
		<button class="tasks__btn tasks__btn_add show">Add card</button>
		<button class="tasks__btn tasks__btn_submit">Submit</button>
	</section>
	<section class="tasks tasks_ready">
		<h2 class="tasks__title">Ready</h2>
		<ul class="tasks__list" id="readyTasks"></ul>
		<div class="tasks__dropdown dropdown">
			<div class="dropdown__list-wrapper">
				<ul class="dropdown__list"></ul>
			</div>
			<form class="dropdown__form" action="#">
				<fieldset class="dropdown__border">
					<legend class="dropdown__title">Add card</legend>
					<input class="dropdown__input" type="text" placeholder="task search...">
				</fieldset>
			</form>
		</div>
		<button class="tasks__btn tasks__btn_add show">Add card</button>
		<button class="tasks__btn tasks__btn_submit">Submit</button>
	</section>
	<section class="tasks tasks_in-progress">
		<h2 class="tasks__title">In progress</h2>
		<ul class="tasks__list" id="inProgressTasks"></ul>
		<div class="tasks__dropdown dropdown">
			<div class="dropdown__list-wrapper">
				<ul class="dropdown__list"></ul>
			</div>
			<form class="dropdown__form" action="#">
				<fieldset class="dropdown__border">
					<legend class="dropdown__title">Add card</legend>
					<input class="dropdown__input" type="text" placeholder="task search...">
				</fieldset>
			</form>
		</div>
		<button class="tasks__btn tasks__btn_add show">Add card</button>
		<button class="tasks__btn tasks__btn_submit">Submit</button>
	</section>
	<section class="tasks tasks_finished">
		<h2 class="tasks__title">Finished</h2>
		<ul class="tasks__list" id="finishedTasks"></ul>
		<div class="tasks__dropdown dropdown">
			<div class="dropdown__list-wrapper">
				<ul class="dropdown__list"></ul>
			</div>
			<form class="dropdown__form" action="#">
				<fieldset class="dropdown__border">
					<legend class="dropdown__title">Add card</legend>
					<input class="dropdown__input" type="text" placeholder="task search...">
				</fieldset>
			</form>
		</div>
		<button class="tasks__btn tasks__btn_add show">Add card</button>
		<button class="tasks__btn tasks__btn_submit">Submit</button>
	</section>
</div>