.tasks__input {
    position: relative;

    display: inline-block;

    width: 95%;
    margin: 0 7px 15px;
    padding: 7px 9px;

    background-color: #fff;
    border-radius: 5px;
}

.tasks__input::placeholder {
    font-size: 14px;
    line-height: 22px;
    opacity: 0.3;
}

.tasks__input:last-child {
    margin: 0 7px;
}

.tasks__input:focus {
    box-shadow: inset 0 0 1px 1px rgb(79, 195, 203);
}
