.popup__body {
    position: relative;
    transform-origin: top center;
    transform: perspective(400px) rotateX(-90deg) scale(0.8, 0.8);

    max-width: 360px;
    padding: 20px;

    color: #212125;

    background-color: rgb(169, 179, 243);
    border-radius: 10px;

    transition: 0.3s linear;
}

.popup.show .popup__body {
    transform: perspective(400px) rotateX(0deg) scale(1, 1);
    transition: 0.5s linear;
}
